<nav>
  <div class="menu">
    <img src="../../assets/images/icon-menu.svg" alt="" />
  </div>
  <ul>
    <img src="../../assets/images/logo.svg" alt="" />
    <li><a href="#">Collections</a></li>
    <li><a href="#">Men</a></li>
    <li><a href="#">Women</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="left">
    <div class="cart">
      <app-cart></app-cart>
    </div>
    <div class="profile">
      <img src="../../assets/images/image-avatar.png" alt="" />
    </div>
  </div>
</nav>
